/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~typeface-roboto/index.css';

* {
  box-sizing: inherit;
}

body {
  position: relative;
  height: 100vh;
  background-color: white;
  font-family: Roboto, Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}
