.root {
  overflow: scroll;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
  height: 100%;
}

.root * {
  margin: 0;
  padding: 0;
}

.superRoot {
  width: 100%;
}

.tile {
  cursor: pointer;
  width: 220px;
  transition: 0.2s;
  margin: 10px 5px;
}

.tile:nth-child(odd) {
  transform: translateY(20px);
}

.titleBar {
  padding: 13px;
  border-radius: 0 0 13px 13px;
  transition: 0.133s;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 220px;
}

.titleBar > * {
  text-overflow: inherit;
  overflow: inherit;
  white-space: inherit;
}

.tile:hover {
  transform: translateY(-12px);
}

.tile:nth-child(odd):hover {
  transform: translateY(8px);
}

.image {
  border-radius: 5px 5px 0 0;
  height: 320px;
  object-fit: cover;
}

.unlink {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.hoverBoard {
  transition: 0.1s;
  margin: 8px;
}

.hoverBoard:hover {
  transform: translateX(8px);
}

.card {
  display: flex;
  width: 480px;
  height: 280px;
  overflow: hidden;
  cursor: pointer;
}

.cardContent {
  padding: 8px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card .description {
  /*
    TODO: add ellipsis
   */
  flex: 1;
  overflow: hidden;
  margin: 8px 0;
}

.card .chip {
  margin: 4px;
}

.card .chipSet {
  margin: 8px 0;
}
